.header { 
    background-image: url(https://i.pinimg.com/564x/7c/2b/f7/7c2bf7bdc3e6d336af1d1749ec977fd0.jpg);
    background-size: auto auto;
}
table {
    border-collapse: collapse;
    background-color: bisque;
    box-align: center;
    display: table; 
    width: 100%; 
    height: 200px;
    
}
h1{
    color: rgb(93, 68, 15) ;
    width:max-content; 
    font: 80px 'arial';
    text-align: center;
 }
 h2 { 
    padding: 100px; 
    font: 30px 'consolas';
    color: rgb(174, 119, 0);
    text-align: center;
 }
